body {
    background-size: cover;
    font-family: cursive;
}

.background {
    background-image: url(../images/women-olympics.jpg)
}


#header {
    font-size: 34px; 
    color: white;
    text-align: center;
}

#content {
    background-color: aquamarine;
    font-size: 34 px;
    text-align: center;
    width: 720px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#content ul {
    list-style-type: none;
}